* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  cursor: none;
}

#container {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 9rem;
  margin: 0;
  font-family: "Bemock", Helvetica, sans-serif;
  font-weight: lighter;
  animation: glow 5s ease-in-out infinite;
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.842);
}

h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  margin-top: 20px;
  font-family: "Modeco Trial", Helvetica, sans-serif;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.842);
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  z-index: -1;
  height: 300px;
}

.circle-link1{
  background-image: url("/src/asset/img/Graff.svg");
}

.circle-link2{
  background-image: url("/src/asset/img/Art.svg");
}

.circle-link3{
  background-image: url("/src/asset/img/Design.svg");
}
.circle-link1,
.circle-link2,
.circle-link3 {
  border: 1px solid #050505;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 350px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.301);
  transition: 1s ease-out, box-shadow 1s ease-in-out;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    width 1s ease-in-out, height 1s ease-in-out;
  transition: background-image 1.5s ease-in-out;
  overflow: hidden;
  -webkit-animation: bubble-anim 1s ease-in-out;
  -moz-animation: bubble-anim 1s ease-out;
  -o-animation: bubble-anim 1s ease-in-out;
  -ms-animation: bubble-anim 1s ease-out;
  animation: bubble-anim 1s ease-in-out;
  transition: 0.5s all;
}

.circle-link1::after,
.circle-link2::after,
.circle-link3::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  background: inherit;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 10px 10px 20px rgba(227, 227, 227, 0.386);
  transition: 0.5s all;

}

.circle-text1,
.circle-text2,
.circle-text3 {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  text-align: center;
  color: white;
  transition: 0.2s ease-out;
}

.circle-text1 {
  font-family: "Computer Regular", Arial, Helvetica, sans-serif;
  transition: 0.2s ease-out;
  opacity: 0%;
}
.circle-text2 {
  font-family: "Classic Mosaic", Arial, Helvetica, sans-serif;
  transition: 0.2s ease-out;
  opacity: 0%;
}

.circle-text3 {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  transition: 0.2s ease-out;
  opacity: 0%;
}

.circle-link1:hover {
  background-color: #4e58e0;
  transform: scale(1.2);
  border: none;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
  color  1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
  box-shadow: none;
  background-image: none;
}

.circle-link2:hover {
  transform: scale(1.2);
  background-color: #f1db5b;
  border: none;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    color 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
  text-transform: #9c0303;
  box-shadow: none;
  background-image: none;
}

.circle-link3:hover {
 background-color: rgb(207, 207, 207);
  border: none;
  transform: scale(1.2);
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    color  1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
  box-shadow: none;
  background-image: none;
  -webkit-text-stroke: 2px rgb(55, 55, 55) d;
  
}

.circle-link1:hover .circle-text1 {
  color: rgb(255, 255, 255);
  font-size: 55px;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
    opacity: 100%;
}

.circle-link2:hover .circle-text2 {
  color: #9c0303;
  font-size: 55px;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
  opacity: 100%;
}

.circle-link3:hover .circle-text3 {
  color: rgb(55, 55, 55);
  font-size: 55px;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
  font-weight: bolder;
  opacity: 100%;
}
.styled-button {
  position: relative;
  margin: 100px;
  width: 200px;
  height: 70px;
  top: 150px;
  background: transparent;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Modeco Trial", Arial, Helvetica, sans-serif;
  line-height: 75px;
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.styled-button::before {
  display: block;
  content: "";
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 2000px;
  height: 1000px;
  background-image: linear-gradient(
    45deg,
    #9c0303 11.36%,
    #000000 11.36%,
    #000000 12.5%,
    #f1db5b 12.5%,
    #f1db5b 23.86%,
    #000000 23.86%,
    #000000 25%,
    #d3d3d3 25%,
    #d3d3d3 36.36%,
    #000000 36.36%,
    #000000 37.5%,
    #5ba1fc 37.5%,
    #5ba1fc 48.86%,
    #000000 48.86%,
    #000000 50%,
    #9c0303 50%,
    #9c0303 61.36%,
    #000000 61.36%,
    #000000 62.5%,
    #f1db5b 62.5%,
    #f1db5b 73.86%,
    #000000 73.86%,
    #000000 75%,
    #d3d3d3 75%,
    #d3d3d3 86.36%,
    #000000 86.36%,
    #000000 87.5%,
    #5ba1fc 87.5%,
    #5ba1fc 98.86%,
    #000000 98.86%,
    #000000 100%
  );
  background-size: 150px 150px;
  -webkit-animation: barberpole 10s linear infinite;
  animation: barberpole 10s linear infinite;
  z-index: -1;
}

.styled-button::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 50px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 100px;
  z-index: -1;
  font-weight: bolder;
  font-family: "Modeco Trial", Arial, Helvetica, sans-serif;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    width 1s ease-in-out, height 1s ease-in-out;
}

.styled-button:hover {
  color: #000;
  border: 2px solid #000000;
  -webkit-animation: bubble-anim 1s ease-in-out;
  -moz-animation: bubble-anim 1s ease-out;
  -o-animation: bubble-anim 1s ease-in-out;
  -ms-animation: bubble-anim 1s ease-out;
  animation: bubble-anim 1s ease-in-out;
}

.styled-button:hover::after {
  background: #ffffff;
}

.styled-button:active {
  color: #ffffff;
}

.styled-button:active::before {
  animation-play-state: paused;
}

.styled-button:active::after {
  background: #000;
}

@keyframes barberpole {
  100% {
    background-position: 50% 50%;
  }
}
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 4px #ffffff,
      0 0 6px #ffffff;
  }
  50% {
    text-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 4px #ffffff,
      0 0 6px #ffffff, 0 0 8px #ffffff;
  }
}
@keyframes textshadow {
  0%,
  100% {
    text-shadow: 0 0 1px #f9f9f9, 0 0 1px #e3e5e7, 0 0 2px #fafafa,
      0 0 3px #ffffff;
  }
  25%,
  75% {
    text-shadow: 0 0 px #f9f9f9, 0 0 1px #e3e5e7, 0 0 2px #fafafa,
      0 0 3px #ffffff;
  }
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes bubble-anim {
  0% {
    -o-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -o-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -o-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -o-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -o-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes bubble-anim {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -ms-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -ms-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -ms-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -ms-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    transform: scale(1);
  }
}
