* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  cursor: none;
}

#container {
  position: fixed;
  touch-action: none;
  z-index: -1;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 9rem;
  margin: 0;
  font-family: "Bemock";
  font-weight: lighter;
  animation: glow 5s ease-in-out infinite;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  margin-top: 40px;
  font-family: "Modeco Trial";
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  z-index: 1;
  height: 250px;
}

.circle-link1,
.circle-link2,
.circle-link3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 350px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    width 1s ease-in-out, height 1s ease-in-out;
    transition: background-image 1s ease-in-out;
  overflow: hidden;
  position: relative;
  
 
}

.circle-link1::after,
.circle-link2::after,
.circle-link3::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: inherit;
  border-radius: 50%;
  z-index: -1;
  transition: box-shadow 1s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
}

.circle-link1:hover::after,
.circle-link2:hover::after,
.circle-link3:hover::after {
  box-shadow: 0 0 0 15px rgb(255, 255, 255);
  
}

.circle-link1 {
  background-color: black;
  border: 3px solid white;
}

.circle-link2 {
  background-color: black;
  border: 3px solid white;
}

.circle-link3 {
  background-color: black;
  border: 3px solid white;
}

.circle-text1,
.circle-text2,
.circle-text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  text-align: center;
  
  
}

.circle-text1 {
  color: white;
  font-family: "Computer Regular";
}

.circle-text2 {
  color: white;
  font-family: "Classic Mosaic";
}

.circle-text3 {
  color: white;
  font-family: "Coolvetica";
  font-weight: thin;
}

.circle-link1:hover {
  background-color: #4e58e0;
  transform: scale(1.3);
  border: none;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
  width 1s ease-in-out, height 1s ease-in-out;
  
}

.circle-link2:hover {
  transform: scale(1.3);
  background-color: #ffd903;
  border: none;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    width 1s ease-in-out, height 1s ease-in-out;
}

.circle-link3:hover {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjE4LWV5ZS0wOC5qcGc.jpg");
  border: none;
  transform: scale(1.3) ;
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
  width 1s ease-in-out, height 1s ease-in-out;
}

.circle-link1:hover .circle-text1 {
  color: rgb(0, 0, 0);
  font-size: 55px;
  transition: color 1s ease-in-out,text-shadow 1s ease-in-out, font-size 1s ease-in-out;
  text-shadow: -1px -1px 0 rgb(56, 216, 237),  
  1px -1px 0 rgb(56, 216, 237),
  -1px 1px 0 rgb(56, 216, 237),
  1px 1px 0 rgb(56, 216, 237);
  animation: glow 5s ease-in-out infinite;
}

.circle-link2:hover .circle-text2 {
  color: #723838;
  font-size: 55px;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
  text-shadow: -0.1px  0.1px 0 #723838,  
  0.1px  -0.1px 0 #723838,
  -0.1px  0.1px 0 #723838,
  0.1px  -0.1px 0 #723838;
  animation: glow 5s ease-in-out infinite;
}

.circle-link3:hover .circle-text3 {
  color: rgb(55, 55, 55);
  font-size: 55px;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
  text-shadow: -1px -1px 0 rgb(55, 55, 55),  
  1px -1px 0 rgb(55, 55, 55),
  -1px 1px 0 rgb(55, 55, 55),
  1px 1px 0 rgb(55, 55, 55);
  animation: glow 5s ease-in-out infinite;
}


.styled-button {
  position: relative;
  margin: 100px;
  width: 200px;
  height: 70px;
  top: 150px;
  background: transparent;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Modeco Trial";
  line-height: 75px;
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.styled-button::before {
  display: block;
  content: "";
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 2000px;
  height: 1000px;
  background-image: linear-gradient(
    45deg,
    #723838 11.36%,
    #000000 11.36%,
    #000000 12.5%,
    #ffd903 12.5%,
    #ffd903 23.86%,
    #000000 23.86%,
    #000000 25%,
    #d3d3d3 25%,
    #d3d3d3 36.36%,
    #000000 36.36%,
    #000000 37.5%,
    #5ba1fc 37.5%,
    #5ba1fc 48.86%,
    #000000 48.86%,
    #000000 50%,
    #723838 50%,
    #723838 61.36%,
    #000000 61.36%,
    #000000 62.5%,
    #ffd903 62.5%,
    #ffd903 73.86%,
    #000000 73.86%,
    #000000 75%,
    #d3d3d3 75%,
    #d3d3d3 86.36%,
    #000000 86.36%,
    #000000 87.5%,
    #5ba1fc 87.5%,
    #5ba1fc 98.86%,
    #000000 98.86%,
    #000000 100%
  );
  background-size: 150px 150px;
  -webkit-animation: barberpole 10s linear infinite;
  animation: barberpole 10s linear infinite;
  z-index: -1;
}

.styled-button::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 50px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  z-index: -1;
  font-weight: bolder;
  font-family: "Modeco Trial";
  transition: background-color 1s ease-in-out, border 1s ease-in-out,
    width 1s ease-in-out, height 1s ease-in-out;
}

.styled-button:hover {
  color: #000;
}

.styled-button:hover::after {
  background: #ffffff;
}

.styled-button:active {
  color: #ffffff;
}

.styled-button:active::before {
  animation-play-state: paused;
}

.styled-button:active::after {
  background: #000;
}

@keyframes barberpole {
  100% {
    background-position: 50% 50%;
  }
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff, 0 0 8px #ffffff;
  }
  50% {
    text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff, 0 0 8px #ffffff, 0 0 10px #ffffff;
  }
}
@keyframes textshadow {
  0%,
  100% {
    text-shadow: 0 0 1px #f9f9f9, 0 0 1px #e3e5e7, 0 0 2px #fafafa,
      0 0 3px #ffffff;
  }
  25%,
  75% {
    text-shadow: 0 0 px #f9f9f9, 0 0 1px #e3e5e7, 0 0 2px #fafafa,
      0 0 3px #ffffff;
  }
}
