body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjE4LWV5ZS0wOC5qcGc.jpg");
  background-position: fill;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.main-div {
  text-align: center;
  justify-content: center;
  align-items: center;
}

img {
  z-index: -200000;
}

h1 {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  color: #5d625c;
}

.main-div > p {
  font-family: "Brand", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #5d625c;
  text-align: inherit;
}

p {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #626262;
  text-align: inherit;
}

.loader {
  background: #515151;
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  justify-content: center;
  border: 1px solid #000000;
  align-items: center;
  animation: 3s rotate linear infinite;
  left: 48.5%;
  top: 65%;
}

.loader:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  background: #ffffff;
  border: 1px solid #000000;
  animation: 1.5s rotate reverse linear infinite;
}

button {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: thin;
  width: 8em;
  position: relative;
  height: 2em;
  border: 3px ridge #5d625c;
  outline: none;
  background-color: #f5e56c00;
  color: #5d625c;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 20px;
  z-index: 2000;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(1.1);
}

button:hover {
  box-shadow: inset 0px 0px 25px #5d625c;
}

#home-btn {
  position: absolute;
  text-decoration: none;
  top: 30px;
  left: 30px;
  border: none;
  font-size: 30px;
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: thin;
  color: #5d625c;
  transition: 0.5s ease;
}

#home-btn:hover {
  position: absolute;
  top: 40px;
  left: 40px;
  border: none;
  font-size: 40px;
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  transition: 0.5s ease;
}

#gallery-btn {
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 30px;
  border: none;
  font-size: 30px;
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: thin;
  color: #5d625c;
  transition: 0.5s ease;
}

#gallery-btn:hover {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  font-size: 40px;
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  transition: 0.5s ease;
}

#int-result {
  font-size: 1.5em;
}

.int-img-hidden {
  width: 400px;
  height: 400px;
  visibility: hidden;
}

#int-img {
  position: relative;
  border-radius: 15px;
  border: 6px solid #5d625c;
  border-style: ridge;
  animation: glow 5s ease-in-out infinite;
}

.button-link {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  font-weight: thin;
  background-color: #f5e56c00;
  color: #5d625c;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 20px;
  position: absolute;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-link::after,
.button-link::before {
  content: "";
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
}
.button-link:hover::before,
.button-link:hover::after {
  transform: scale(0);
}

.button-link:hover {
  box-shadow: inset 0px 0px 25px #5d625c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
