
body {
  background-color: #ffffff;
  background-position: fill;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}


.main-div {
  text-align: center;
  justify-content: center;
  align-items: center;
}

img {
  z-index: -200000;
}

h1 {
  font-family: "LLPixel", Arial,  sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  color: #42a32f;
  -webkit-text-stroke: 0.1px #3aff12;
  text-shadow: 13px 13px 13px #1012107f;
}

.main-div > p {
  font-family: "LLPixel", Arial, sans-serif;
  font-size: 3rem;
  color: #42a32f;
  text-align: inherit;
  -webkit-text-stroke: 0.01px #7ce467;
}

p {
  font-family: "LLPixel", Arial, sans-serif;
  font-weight: bold;
  color:#42a32f;
  text-align: inherit;
  -webkit-text-stroke: 0.01px #7ce467;
  
}

.loader {
  background:#7ce467;
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  justify-content: center;
  border: 1px solid #000000;
  align-items: center;
  animation: 3s rotate linear infinite;
  left: 48.5%;
  top: 65%;
}

.loader:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  background: #ffffff;
  border: 1px solid #000000;
  animation: 1.5s rotate reverse linear infinite;
}

button {
  font-family: "LLPixel", Arial, sans-serif;
  font-weight: thin;
  width: 8em;
  position: relative;
  height: 2em;
  border: 3px ridge #7ce467;
  outline: none;
  background-color: transparent;
  color: #7ce467;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 20px;
  z-index: 2000;
  cursor: pointer;
  text-align: inherit;
  -webkit-text-stroke: 0.01px #7ce467;
}

button::after {
  content: "";
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(1.1);
}

button:hover {
  box-shadow: inset 0px 0px 25px #7ce467;
  -webkit-text-stroke: 0.1px #000000;
}

#home-btn {
  position: absolute;
  text-decoration: none;
  top: 30px;
  left: 30px;
  border: none;
  font-size: 30px;
  font-family: "Bemock", Arial, sans-serif;
  font-weight: thin;
  color: #7ce467;
  transition: 0.5s ease;
  -webkit-text-stroke: 0.1px #3aff12;
  
}

#home-btn:hover {
  position: absolute;
  top: 40px;
  left: 40px;
  border: none;
  font-size: 40px;
  font-family: "Bemock", Arial, sans-serif;
  transition: 0.5s ease;
  -webkit-text-stroke: 0.1px #3aff12;
  text-shadow: 13px 13px 13px #10121021;
}

#gallery-btn {
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 30px;
  font-size: 30px;
  font-family: "LLPixel", Arial, sans-serif;
  color: #7ce467;
  transition: 0.5s ease;
  -webkit-text-stroke: 0.1px #3aff12;
  
}

#gallery-btn:hover {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  font-size: 40px;
  font-family: "LLPixel", Arial, sans-serif;
  transition: 0.5s ease;
  -webkit-text-stroke: 0.1px #3aff12;
  text-shadow: 13px 13px 13px #1012101d;
}  
  

#int-result {
  font-size: 1.5em;
}

.int-img-hidden {
  width: 400px;
  height: 400px;
  visibility: hidden;
}

#int-img {
  position: relative;
  border-radius: 15px;
  border: 6px solid #7ce467;
  border-style: ridge;
  transition: transform 0.3s ease-in-out;
  box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.633);
}

.button-link {
  font-family: "LLPixel", Arial, sans-serif;
  font-weight: thin;
  background-color: #f5e56c00;
  color: #7ce467;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 20px;
  position: absolute;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-link::after,
.button-link::before {
  content: "";
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
}
.button-link:hover::before,
.button-link:hover::after {
  transform: scale(1.5);
}

.button-link:hover {
  
  box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.92);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
